<footer>
  <div class="footer-grid">
    <div class="footer-brand">
      <div class="footer-logo"
        style="background-color: var(--cream); padding: 4px 15px; border-radius: 6px; display: inline-flex; align-items: center; justify-content: center; height: auto;">
        <img src="../admin/assets/logo-koawis-rectangle.png" alt="Logo KO AWIS" style="height: 140px; width: auto;">
      </div>
      <p class="footer-desc">Penguatan Kapasitas Masyarakat dan Ekosistem Hilirisasi Kakao Berbasis Kewirausahaan
        Melalui Pojok Literasi Terpadu.</p>
    </div>
    <div class="footer-col">
      <h4>Tautan Cepat</h4>
      <ul>
        <li><a href="index.html">Beranda</a></li>
        <li><a href="modul.html">Daftar Modul</a></li>
        <li><a href="tentang.html">Profil Tim</a></li>
        <li><a href="informasi.html">Galeri Kegiatan</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Hubungi Kami</h4>
      <ul>
        <li><a href="mailto:ppkocentrisftiuii@gmail.com">ppkocentrisftiuii@gmail.com</a></li>
        <li><a href="tel:+6281234567890">+62 812-3456-7890</a></li>
        <li><a href="https://maps.app.goo.gl/5BsQmE3zYe2EK3vr5"> Desa Ngawis, Gunung Kidul</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Ikuti Kami</h4>
      <ul>
        <li><a href="https://www.instagram.com/ppko.centrisftiuii">Instagram</a></li>
        <li><a href="https://www.tiktok.com/@ppko.centrisftiuii">Tiktok</a></li>
        <li><a href="https://www.youtube.com/@ppko.centrisftiuii">YouTube</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2026 PPK Ormawa Desa Cerdas. Seluruh Hak Cipta Dilindungi.</span>
    <div class="footer-partners">
      <span>Kampus Merdeka</span>
      <span>PPK Ormawa</span>
      <span>Universitas Islam Indonesia</span>
    </div>
  </div>
</footer>